@import "src/css/variables";
@import "src/css/fonts";

.template-container{
    width:80%;
    margin:2% auto;
    text-align:center; 
    height:90% !important;
    
    .text-choose-template{
        font-family: 'Bree Serif', serif;
        color: $dark-blue-color;
        font-size: 14pt;
        margin-bottom: 2%;
    }
}
.swiper-slide{
    // background-color: #eee;
    :hover{
        // background-color: blue;
    }
}


