<div class="template-container" >
  <span class='text-choose-template'>
    By clicking on your favourite template go to next step!
  </span>
  <ng-container *ngIf="templateArray">
  <swiper [config]="config">
    <div *ngFor="let slide of templateArray" class="swiper-slide">
      <div fxLayoutAlign="center center" fxFlexFill>
        <img src="{{slide.templateImageFile}}" alt='{{slide.templateName}}' (click)="chooseTemplate(slide.id)" >
      </div>
    </div>
  </swiper>
</ng-container>
</div>