<div class="main-container" flexLayout>
  <div fxFlex.gt-sm="45%" fxFlex="70%" class="profile-container">
    <div class='text-complete-profile'>
      Complete you personal profile
    </div>
    <form (ngSubmit)="SavePersonalProfile()" #profileForm="ngForm">

      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout>
          <div fxFlex.gt-sm="20%" fxHide.xs fxHide.sm>
            <label for="firstName" class="text-label">First Name</label>
          </div>
          <div fxFlex.gt-sm="80%" fxFlex="100%">
            <input type="text" class="form-control" id="firstName" [(ngModel)]="profile.firstName" name="firstName" required #fName="ngModel"
              placeholder="First Name">
          </div>
        </div>

        <div fxLayout>
          <div fxFlex.gt-sm="20%" fxHide.xs fxHide.sm>
            <label for="lastName" class="text-label">Last Name</label>
          </div>
          <div fxFlex.gt-sm="80%" fxFlex="100%">
            <input type="text" class="form-control" id="lastName" [(ngModel)]="profile.lastName" name="lastName" required #lName="ngModel"
              placeholder="Last Name">
          </div>
        </div>

        <div fxLayout>
          <div fxFlex.gt-sm="20%" fxHide.xs fxHide.sm>
            <label for="phoneNumber" class="text-label">Phone Number</label>
          </div>
          <div fxFlex.gt-sm="80%" fxFlex="100%">
            <input type="text" pattern="[0-9]+" class="form-control" id="phoneNumber" placeholder="Phone Number" [(ngModel)]="profile.phoneNumber"
              name="phoneNumber" required #phone="ngModel">
          </div>
        </div>

        <div fxLayout>
          <div fxFlex.gt-sm="20%" fxHide.xs fxHide.sm>
            <label for="email" class="text-label">Email</label>
          </div>
          <div fxFlex.gt-sm="80%" fxFlex="100%">
            <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" class="form-control" id="email"
              [(ngModel)]="profile.email" name="email" required #email="ngModel">
          </div>
        </div>

        <div fxLayout>
          <div fxFlex.gt-sm="20%" fxHide.xs fxHide.sm>
            <label for="address" class="text-label">Address</label>
          </div>
          <div fxFlex.gt-sm="80%" fxFlex="100%">
            <input type="text" class="form-control" id="address" [(ngModel)]="profile.address" name="address" required #address="ngModel"
              placeholder="Address">
          </div>
        </div>

        <div class="alert alert-danger" [hidden]="(fName.pristine || fName.valid) && 
        (lName.pristine || lName.valid) && (phone.pristine || phone.valid) 
        && (email.pristine || email.valid) && (address.pristine || address.valid)">
          Please ensure all fields are entered and in correct format.
        </div>
        <div class="alert alert-danger" [hidden]="!ErrorInSave">
          There is an error in saving personal profile.
        </div>

        <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayout.sm="column" >
          <div fxFlex.gt-sm="80%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlexOffset.gt-sm="20%" 
          fxFlexOffset.xs="0" fxFlexOffset.sm="0">
            <button type="button" class="btn btn-default" (click)="ReturnToTemplates()">
              <i class="glyphicon glyphicon-share-alt icon-flipped"></i> Choose Another Template</button>
          </div>
          <div fxFlex.gt-sm="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlexOffset.gt-sm="10%" 
          fxFlexOffset.xs="0" fxFlexOffset.sm="0">
            <button type="submit" class="btn btn-primary" [disabled]="!profileForm.form.valid">
              <i class="glyphicon glyphicon-user"></i> Save Personal Profile
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>