<div fxLayout class="main-container">
  <div fxFlex.gt-sm="45%" fxFlex="90%" class="cv-container">
    <div class='text-download-cv'>
      Congratulation! You can now download your CV...
    </div>

      <div fxLayout>
        <div fxFlexOffset="20%" fxFlex="70%" fxFlexOffset.xs="0" fxFlex.xs="100%">
          <form (ngSubmit)="DownloadCV()" #skillForm="ngForm">
            <button type="submit" class="btn btn-primary">
              <i class="glyphicon glyphicon-download"></i> Download CV 
            </button>
          </form>
        </div>
      </div>

  </div>
</div>