@import 'src/css/variables';

.main-container{
    height:93%; 
}

.cv-container{
    margin: 0 auto;
    background-color: $light-gray-color;    
    min-height:100%;
    padding:3%;
    border: 1px solid $gray-color;
    box-shadow: 7px 5px 7px  $dark-gray-color;
    border-radius:5px;
    overflow-y: auto;

    .text-download-cv{
        font-family: 'Bree Serif', serif;
        color: $dark-blue-color;
        font-size: 14pt;
        margin-bottom:5%;
    }
}